@use '../variables' as v;

#social-page {
	padding-left: 150px;
	background-image: url('../assets/images/brick.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.media-row {
	height: 50%;
	width: 100%;
}

.media-col {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.media-item {
	width: 90%;
	margin: auto;
}

#main-media > div  {
	padding: 8px 0;
	height: 100%;
	width: 100%;
}

.media-item > div {
	height: 100%;
	width: 100%;
	padding: 8px 16px;
}

.media-title {
	cursor: pointer;
}

#main-media .close {
	position: absolute;
	top: 8px;
	right: 8px;
	color: white;
	width: 32px;
	height: 32px;
}

#main-media {
	width: 80%;
	position: absolute;
	right: 5%;
	background-color: v.$light-purple;
}