@font-face {
	font-family: ProximaNovaBlack;
	src: url("./assets/fonts/Proxima-Nova-Black.otf") format("opentype");
}

h1,
h2,
h3,
h4 {
	-webkit-text-stroke: 1px black;
	background: -webkit-linear-gradient(#E3E5E2 45%, #A7A8AB 45%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.shadow {
	box-shadow: -10px 10px 10px black;
}

.filter-shadow {
	filter: drop-shadow(-10px 10px 10px black);
}