#twitch-container,
#twitch-container > .row {
	height: 100%;
	padding: 0;
}

#twitch-container > .row > .col:first-child {
	margin: auto;
}

#twitch-container > .row > .col:last-child > * {
	float: right;
}

#twitch-player {
	padding-top: 56.25%;
	position: relative;
	height: 0;
}

#twitch-player iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

#twitch-chat {
	width: 100%;
}

.twitch-content {
	margin: auto;
	max-width: 75%;
}